## 聚合函數

In [2]:
import pandas as pd
df = pd.DataFrame({'ID1':['PM2.5','PM10','CO','PM2.5','PM10','CO','PM2.5','PM10'],
                   'AM8':[8,75,45,31,71,55,90,20],'PM8':[55,73,66,90,99,2,75,60]})
df

   AM8    ID1  PM8
0    8  PM2.5   55
1   75   PM10   73
2   45     CO   66
3   31  PM2.5   90
4   71   PM10   99
5   55     CO    2
6   90  PM2.5   75
7   20   PM10   60

In [2]:
# count（個數）, sum（加總）, mean（平均）, median（中位數）, std（標準差）, var（變異數）, first（第一個非NA）, last（最後一個非NA）
df.groupby('ID1').mean()

             AM8        PM8
ID1
CO     50.000000  34.000000
PM10   55.333333  77.333333
PM2.5  43.000000  73.333333

In [7]:
df.groupby(['ID1']).count()

       AM8  PM8
ID1
CO       2    2
PM10     3    3
PM2.5    3    3

In [8]:
df.groupby(['ID1'])[['AM8']].mean()

             AM8
ID1
CO     50.000000
PM10   55.333333
PM2.5  43.000000

In [4]:
df.groupby(['ID1'])[['PM8']].median()

       PM8
ID1
CO      34
PM10    73
PM2.5   75